{% extends 'main.html' %}
{% block body %}
{% load static %}

    <!-- About Body -->

    <div class="accountConatiner">
        <h1>Your Account <div class="underline"></div> </h1>
        <div class="accountContent">
            <div class="accountContentLeft">
                <div class="userProfile">
                    <div class="userProfilePic">
                        {% if user.userprofile.profilePic %}
                            <img src="{{ user.userprofile.profilePic.url }}" alt="NF">
                        {% else %}
                            <img src="{% static 'user.webp' %}" alt="NF">
                        {% endif %}
                    </div>
                    <div class="userProfileInfo">
                        <h3>{{ user.username | capfirst }}</h3>
                        <p>Account Created : {{ user.date_joined | date}}</p>
                    </div>
                </div>
                <div class="userAbout">
                    <h3>About</h3>
                    <p>{{ user.userprofile.about }}</p>
                    <h5>Total Subscribers</h5>
                    <p>{{ user.userprofile.subscribers }}</p>
                </div>
                <div class="accountContentBtn">
                    <a href="{% url 'editProfile' %}"><button> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Edit Profile</button></a>
                </div>
            </div>
            <div class="accountContentRight">
                <div class="userAddVideo">
                    <a href="{% url 'uploadVideo' %}">
                        <button>+ Add New Video</button>
                    </a>
                </div>
                <div class="userUploadedVideos">
                    <h3>Uploaded Videos</h3>
                </div>
                <hr>
                <div class="userUploadedVideoCards">
                    {% for i in video %}
                        <div class="uploadedVideoCard">
                            <div class="uploadedVideoCardTop" style="overflow: hidden;">
                                <img src="{{ i.videoPic.url }}" alt="" style="height: 100%;width:100%;object-fit:cover">
                            </div>
                            <div class="userVideoName">
                                <a href="{% url 'videoDisplay' i.id %}"><h1>{{ i.videoName }}</h1></a>
                            </div>
                            <hr>
                            <div class="userVideoActions">
                                    <a href="{% url 'editUploadedVideo' i.id %}"><button> <i class="fa fa-edit"></i> &nbsp; Edit Video</button></a>
                                <form action="" method="post">
                                    {% csrf_token %}    
                                    <button type="submit" name="delVid" value="{{ i.id }}"> <i class="fa fa-trash"></i> &nbsp;  Delete Video</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- About Ends -->

{% endblock body %}