{% extends 'main.html' %}
{% block body %}
{% load static %}

    <!-- Themes Body -->

    <div class="accountConatiner">
        <h1>Themes <div class="underline"></h1>
            <div class="themeContainer">
                <div class="theme">
                    <div class="themeColors">
                        <div class="color1"> #252525 </div>
                        <div class="color2"> #AF0404 </div>
                        <div class="color3"> #414141 </div>
                    </div>
                    <button class="theme1">Apply</button>
                </div>
                <div class="theme">
                    <div class="themeColors">
                        <div class="color4"> #1A1A2E </div>
                        <div class="color5"> #16213E </div>
                        <div class="color6"> #778698 </div>
                    </div>
                    <button class="theme2">Apply</button>
                </div>
                <div class="theme">
                    <div class="themeColors">
                        <div class="color7"> #82A80E </div>
                        <div class="color8"> #616F39 </div>
                        <div class="color9"> #000000 </div>
                    </div>
                    <button class="theme3">Apply</button>
                </div>
                <div class="theme">
                    <div class="themeColors">
                        <div class="color10"> #F7A600 </div>
                        <div class="color11"> #235784 </div>
                        <div class="color12"> #BCDBDF </div>
                    </div>
                    <button class="theme4">Apply</button>
                </div>
                <div class="theme">
                    <div class="themeColors">
                        <div class="color13"> #CEAEFD </div>
                        <div class="color14"> #EE0E51 </div>
                        <div class="color15"> #363540 </div>
                    </div>
                    <button class="theme5">Apply</button>
                </div>
                <div class="theme">
                    <div class="themeColors">
                        <div class="color16"> #EB4A5F </div>
                        <div class="color17"> #FECEAB </div>
                        <div class="color18"> #2A363B </div>
                    </div>
                    <button class="theme6">Apply</button>
                </div>
                <div class="theme">
                  <div class="themeColors">
                      <div class="color19"> #511845 </div>
                      <div class="color20"> #C70039 </div>
                      <div class="color21"> #FF5733 </div>
                  </div>
                  <button class="theme7">Apply</button>
              </div>
            </div>
    </div>

    <!-- Themes Body Ends -->
{% endblock body %}